<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/offre.css" />


    <script
      src="https://kit.fontawesome.com/031a9e5271.js"crossorigin="anonymous"
    ></script>
    <title>Lendor | Nos Offres</title>
  </head>
  <body>
	
    <section class="header">
      <nav>
        <h1 id="logo">
          <i class="fa-solid fa-crown"></i> <a  href="/"> Lendor </a>
        </h1>
        <ul>
          <li><a href="/"> Accueil</a></li>
          <li class="active"><a href="/"> Nos offres</a></li>
          <li><a href="/equipe"> Notre équipe</a></li>
          <li><a href="/contact"> Contact</a></li>
        </ul>
      </nav>
    </section>
	<section id="Paragraphe">
		<div class="content-1">
		  <h1>
			Découvrez <span>Nos offres</span> Exceptionnelles - Votre Nouvelle Maison Vous Attend
		  </h1>
          <p>Nous sommes ravis de vous présenter une gamme exceptionnelle d'offres immobilières adaptées à tous vos besoins et à tous vos budgets.
             Que vous cherchiez un appartement moderne en centre-ville, une maison familiale spacieuse en banlieue, ou un charmant cottage à la campagne, nous avons ce qu'il vous faut.</p>
		</div>
	  </section>
  
    <section class="contenaire-1">
       <div class="contenaire">
             <div class="contenaire-image">
             <img
                 src="/f2eec5b5597961a3aba03b7daa2f7443.jpg"
                 alt=""
             />
             <div class="Mes-description">
             <p> <span>Maisons Familiales :</span> Explorez nos maisons spacieuses et conviviales, 
                idéales pour les familles qui souhaitent un cadre de vie serein et sécurisé avec de grands jardins et des espaces verts à proximité.</p>
             <p>5 chambre 300 m2</p>
             <p>_______<p>
              <br>
             <p> 3 900 000 - $4 200 000</p>
             </div>
             </div>
             <div class="contenaire-image ">
             <img
                 src="/interface-smart-home-dispositif-controle_756748-11474.jpg"
                 alt=""
             />
             <div class="Mes-description">
             <p><span>Résidences Seniors :</span> Découvrez nos résidences spécialement conçues pour les seniors, offrant des services et des équipements adaptés pour un cadre de vie confortable et sécurisé.

             </p>
             <p>9 chambre 450 m2<p>
             <p>_______<p>
             <p> 3 900 000 - $4 200 000</p>
             </div>
             </div>
             <div class="contenaire-image">
             <img
                 src="/interieur-chambre-luxe-grand-lit_170984-19962.jpg"
                 alt=""
             />
             <div class="Mes-description">
             <p> <span>Locations Vacancières :</span> Profitez de nos locations saisonnières dans des destinations de rêve.
                 Que ce soit pour une escapade romantique ou des vacances en famille, nous avons la maison idéale pour vous.</p>
             <p>13 chambre 500 m2</p>
             <p>_______<p>
                 <p> 5 900 000 - $8 200 000</p>
             </div>
             </div>
       </div>
       <div class="contenaire">
             <div class="contenaire-image">
             <img
                 src="/villa-luxe-piscine-design-contemporain-spectaculaire-art-numerique-immobilier-maison-maison-propriete-ge_1258-150749.jpg"
                 alt=""
             />
             <div class="Mes-description">
             <p> <span id="span-maison">Appartements Urbains :</span>  Découvrez nos appartements contemporains situés au cœur de la ville, parfaits pour ceux qui recherchent un mode de vie dynamique avec un accès facile aux commodités et aux transports.</p>
             <p>11 chambre 450 m2</p>
             <p>_______<p>
             <p> 3 900 000 - $4 200 000</p>
             </div>
             </div>
             <div class="contenaire-image ">
             <img
                 src="/rendu-3d-salle-manger-salon-modernes-decor-luxe_105762-1932.jpg"
                 alt=""
             />
             <div class="Mes-description">
             <p> <span> Immeubles de Rapport :</span> Pour les investisseurs, explorez nos immeubles de rapport offrant des rendements attractifs et des opportunités de croissance à long terme.</p>
             <p>11 chambre 450 m2<p>
             <p>_______<p>
             <p> 3 900 000 - $4 200 000</p>
             </div>
             </div>
             <div class="contenaire-image">
             <img
                 src="/salon-bois-blanc-rendu-3d-pres-chambre-haut_105762-2197.jpg"
                 alt=""
             />
             <div class="Mes-description">
             <p> <span>Propriétés de Luxe</span> : Plongez dans l'élégance avec nos propriétés de luxe offrant des finitions haut de gamme, des vues imprenables, et des équipements modernes pour un confort inégalé.

             </p>
             <p>11 chambre 450 m2</p>
             <p>_______<p>
                 <p> 3 900 000 - $4 200 000</p>
             </div>
             </div>
       </div>
     </section>
     <section>
      <div class="contenaire-3">
        <div class="contenaire-image-3"></div>
        <div class="contenaire-texte-1">
          <div class="text-content">
  
            <p>
              Prenez <span>rendez-vous dès aujourd'hui</span>  avec l'un de nos conseillers pour découvrir nos offres et commencer votre voyage vers la propriété de vos rêves. Lendor, votre futur commence ici !
              
              Pour plus d'informations, contactez-nous au [numéro de téléphone] ou visitez notre site web [URL du site web].
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>©Copyright 2024 Ing Valendino PIERRE</p>
    </footer>
  </body>
</html>
